<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.mapper.CollectionManagementMapper">
	<insert id="insertCollectionInformation" parameterType="com.house.entity.Collection">
	insert into collection(collectors_id,collection_house_id,collection_time) value(
	#{collectorsId},#{collectionHouseId},#{collectionTime})
	</insert>
	<delete id="deleteCollectionInformation" parameterType="com.house.entity.Collection">
	delete from collection where collectors_id = #{collectorsId}
	and collection_house_id = #{collectionHouseId}
	</delete>
	<select id="ifExistCollectionInformation" parameterType="com.house.entity.Collection" resultType="com.house.entity.Collection">
	select collectors_id,collection_house_id,collection_time from collection where collectors_id = #{collectorsId}
	and collection_house_id = #{collectionHouseId}
	</select>
	
	
		<select id="selectCollectionHouseIdFormCollectorsId" parameterType="java.util.Map" resultType="java.lang.String">
	select collection_house_id from collection where collectors_id = #{collection.collectorsId} limit #{page.pageShowNow},#{page.pageNumber}
	</select>
	
	<select id="totalSelectCollectionHouseIdFormCollectorsId" parameterType="java.lang.String" resultType="java.lang.Integer"> 
	select count(*) from collection where collectors_id = #{collectorsId}
	</select> 
	<update id="updateWithdId">
	update collection set collection_house_id = #{new} where collection_house_id = #{old}
	</update> 
</mapper>