<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.mapper.HouseManagementMapper">
	<!-- 插入房源 -->
	<insert id="insertHouse" parameterType="com.house.entity.House"
		useGeneratedKeys="true" keyProperty="houseId">
		insert into
		house(house_name,house_address_province,
		house_address_city,house_address_area,house_address_info,
		house_publisher_id,application_time)
		value(#{houseName},#{houseAddressProvince},#{houseAddressCity},
		#{houseAddressArea},#{houseAddressInfo},#{housePublisherId},#{applicationTime})
	</insert>

	<!-- 插入房源信息 -->
	<insert id="insertHouseInfo"
		parameterType="com.house.entity.House">
		insert into
		house_info(house_id,house_publisher_id,house_type,house_money,house_size,house_direction,
		house_sell_way,house_depoit_way,house_descripe,house_image_address,house_structure)
		value(#{houseId},#{housePublisherId},#{houseInfo.houseType},#{houseInfo.houseMoney},#{houseInfo.houseSize},
		#{houseInfo.houseDirection},#{houseInfo.houseSellWay},
		#{houseInfo.houseDepoitWay},#{houseInfo.houseDescripe},
		#{houseInfo.houseImageAddress},#{houseInfo.houseStructure})
	</insert>
	<!-- 查询房源 -->
	<select id="selectHouseAccordingHouseId" parameterType="String"
		resultType="com.house.entity.House">
		select house_id,
		house_name,house_address_province,house_address_city,house_address_area,house_address_info,house_publisher_id,follow_number,
		house_auditing_state from house where house_id = #{parameter}
	</select>
	<!-- 查询房源详细信息 -->
	<select id="selectHouseInfoAccordingHouseId"
		parameterType="String" resultType="com.house.entity.HouseInfo">
		select
		house_type,house_money,house_size,house_direction,house_sell_way,house_depoit_way,house_descripe,house_image_address,house_structure
		from house_info where house_id = #{parameter}
	</select>
	<!-- 查询某个地区的房源 -->
	<select id="selectHousesFromProvinceAndCityAndArea"
		parameterType="java.util.Map" resultMap="setHouse">
		select
		h.house_id,house_name,house_address_info,house_publisher_time,follow_number,
		house_size,house_direction,house_money,house_structure,house_image_address
		from house
		h,house_info hi where
		h.house_id = hi.house_id and
		house_address_province = #{house.houseAddressProvince}
		and
		house_address_city
		= #{house.houseAddressCity} and house_sell_way =
		#{house.houseInfo.houseSellWay} and house_publisher_state = '1'
		<if test='house.houseAddressArea != null'>
			and house_address_area = #{house.houseAddressArea}
		</if>
		limit #{page.pageShowNow},#{page.pageNumber}
	</select>

	<resultMap type="com.house.entity.House" id="setHouse">
		<id column="house_id" property="houseId" />
		<result column="house_name" property="houseName" />
		<result column="house_address_info" property="houseAddressInfo" />
		<result column="house_publisher_time"
			property="housePublisherTime" />
		<result column="follow_number" property="followNumber" />
		<association property="houseInfo"
			javaType="com.house.entity.HouseInfo">
			<result column="house_size" property="houseSize" />
			<result column="house_direction" property="houseDirection" />
			<result column="house_money" property="houseMoney" />
			<result column="house_structure" property="houseStructure" />
			<result column="house_image_address"
				property="houseImageAddress" />
		</association>
	</resultMap>


	<!-- 查询某个地区的房源并按照一定条件降序排序 -->
	<select id="selectHousesFromProvinceAndCityAndAreaAndSortToDesc"
		parameterType="java.util.Map" resultMap="setHouse">
		select
		h.house_id,house_name,house_address_info,house_publisher_time,follow_number,
		house_size,house_direction,house_money,house_structure,house_image_address
		from house
		h,house_info hi where
		h.house_id = hi.house_id and
		house_address_province = #{house.houseAddressProvince}
		and
		house_address_city
		= #{house.houseAddressCity} and house_sell_way =
		#{house.houseInfo.houseSellWay} and house_publisher_state = '1'
		<if test='house.houseAddressArea != null'>
			and house_address_area = #{house.houseAddressArea}
		</if>
		order by CAST(
		<choose>
			<when test="house.houseInfo.houseSize != null">
				house_size
			</when>
			<otherwise>
				house_money
			</otherwise>
		</choose>
		AS DECIMAL(10,2)) desc limit #{page.pageShowNow},#{page.pageNumber}
	</select>

	<!-- 查询某个地区的房源并按照一定条件升序排序 -->
	<select id="selectHousesFromProvinceAndCityAndAreaAndSortToAsc"
		parameterType="java.util.Map" resultMap="setHouse">
		select
		h.house_id,house_name,house_address_info,house_publisher_time,follow_number,
		house_size,house_direction,house_money,house_structure,house_image_address
		from house
		h,house_info hi where
		h.house_id = hi.house_id and
		house_address_province = #{house.houseAddressProvince}
		and
		house_address_city
		= #{house.houseAddressCity} and house_sell_way =
		#{house.houseInfo.houseSellWay} and house_publisher_state = '1'
		<if test='house.houseAddressArea != null'>
			and house_address_area = #{house.houseAddressArea}
		</if>
		order by CAST(
		<choose>
			<when test="house.houseInfo.houseSize != null">
				house_size
			</when>
			<otherwise>
				house_money
			</otherwise>
		</choose>
		AS DECIMAL(10,2)) asc limit #{page.pageShowNow},#{page.pageNumber}
	</select>

	<select id="getHouseInformationTotal"
		parameterType="com.house.entity.House" resultType="int">
		select count(*) from house
		h,house_info hi where
		h.house_id = hi.house_id and house_address_province = #{houseAddressProvince}
		and house_address_city = #{houseAddressCity} and house_sell_way = #{houseInfo.houseSellWay}
		 and house_publisher_state = '1'
		<if test='houseAddressArea != null'>
			and house_address_area = #{houseAddressArea}
		</if>
	</select>
	
	
	<select id="selectPublishSituation"
		parameterType="java.util.Map" resultMap="publishHouse">
		select h.house_id,house_name,house_address_province,house_address_city,house_address_area,house_address_info,
		house_sell_way,house_size,house_structure,house_money,house_image_address
		 from house h,house_info hi where h.house_id = hi.house_id 
		 and h.house_publisher_id = #{house.housePublisherId}
		<choose>
			<when test="house.houseAuditingState != null ">
				and house_auditing_state = #{house.houseAuditingState}
			</when>
			<otherwise>
				and house_auditing_state = '1' and house_publisher_state = #{house.housePublisherState}
			</otherwise>
		</choose>
		
		limit #{page.pageShowNow},#{page.pageNumber}
	</select>
		<select id="selectPublishSituationTotal"
		parameterType="com.house.entity.House" resultType="int">
		select count(*) from house
		h,house_info hi where
		h.house_id = hi.house_id  and h.house_publisher_id = #{housePublisherId}
		<choose>
			<when test="houseAuditingState  != null">
				and house_auditing_state = #{houseAuditingState}
			</when>
			<otherwise>
				and house_auditing_state = '1' and house_publisher_state = #{housePublisherState}
			</otherwise>
		</choose>
	</select>
	
		<resultMap type="com.house.entity.House" id="publishHouse">
		<result column="house_id" property="houseId" />
		<result column="house_name" property="houseName" />
		<result column="house_address_info" property="houseAddressInfo" />
		<result column="house_address_province" property="houseAddressProvince" />
		<result column="house_address_city" property="houseAddressCity" />
		<result column="house_address_area" property="houseAddressArea" />
		<association property="houseInfo"
			javaType="com.house.entity.HouseInfo">
			<result column="house_size" property="houseSize" />
			<result column="house_sell_way" property="houseSellWay" />
			<result column="house_money" property="houseMoney" />
			<result column="house_structure" property="houseStructure" />
			<result column="house_image_address"
				property="houseImageAddress" />
		</association>
	</resultMap>
	
	<update id="updateHouseState" parameterType="com.house.entity.House">
	update house set 
	<choose>
			<when test="houseAuditingState  != null">
				house_auditing_state = #{houseAuditingState}
			</when>
			<otherwise>
				 house_publisher_state = #{housePublisherState}
			</otherwise>
		</choose>
		<if test='housePublisherTime != null'>
			,house_publisher_time= #{housePublisherTime}
		</if>
	where house_id = #{houseId}
	</update>
	
	

	
	<delete id="deleteHouseDao" parameterType="com.house.entity.House">
	delete from house where house_id = #{houseId} and house_publisher_id = #{housePublisherId}
	</delete>
	
	
	<select id="seleteFollowNumber" parameterType="java.lang.String" resultType="com.house.entity.House">
	select house_publisher_id,follow_number from house where house_id = #{parameter}
	</select>
	
	<update id="updateFollowNumber" parameterType="com.house.entity.House" >
	update house set follow_number = #{followNumber} where house_id = #{houseId}
	</update>
	
	<select id = "selectHouseInfoFromHouseIdS" parameterType="java.util.List" resultMap="publishHouse">
	select h.house_id,house_name,house_address_province,house_address_city,house_address_area,house_address_info,
		house_sell_way,house_size,house_structure,house_money,house_image_address
		 from house h,house_info hi where h.house_id = hi.house_id 
		 <foreach collection="list" item="houseId" open="and h.house_id in(" close=")" separator=",">  
            #{houseId}  
         </foreach> 
	</select>
	
	<select id="selectFailReasonFromHouseId" parameterType="java.lang.String" resultType="com.house.entity.AuditingFail">
	select * from auditing_fail where house_id = #{parameter}
	</select>
	<delete id="deleteHouseWithId" parameterType="java.lang.String" >
	delete from house where house_id = #{parameter}
	</delete>
	
	<delete id="deleteHouseHouseInfoWithId" parameterType="java.lang.String" >
	delete from house_info where house_id = #{parameter}
	</delete>
</mapper>