<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.house.mapper.PersonInfoManagementMapper">
   <update id="updateName" parameterType="com.house.entity.Customer">
   update customer set customer_name = #{customerName} where customer_id = #{customerId}
   </update>
   
   <update id="updateAge" parameterType="com.house.entity.Customer">
   update customer set customer_age = #{customerAge} where customer_id = #{customerId}
   </update>
   
   <update id="updateSex" parameterType="com.house.entity.Customer">
   update customer set customer_sex = #{customerSex} where customer_id = #{customerId}
   </update>
   
   <update id="updateMailbox" parameterType="com.house.entity.Customer">
   update customer set customer_mailbox = #{customerMailbox} where customer_id = #{customerId}
   </update>
  
    <update id="updatePassword" parameterType="com.house.entity.Customer">
   update customer set customer_Password = #{customerPassword} where customer_id = #{customerId}
   </update>
 
    <!-- 查询用户的id和姓名 -->
    <select id="selectCustomerIdAndCustomerName" parameterType="com.house.entity.Customer" resultType="com.house.entity.Customer">
    select customer_id,customer_name from customer where customer_phone = #{customerPhone}
    </select>
     
     <!-- 根据id查询用户的所有信息 -->
     <select id="selectCustomerAllInfoFromId" parameterType="com.house.entity.Customer" resultType="com.house.entity.Customer">
     select customer_name,customer_mailbox,customer_sex,customer_age,customer_phone,
     customer_head_image_address from customer where customer_id = #{customerId}
     </select>
     
     
     <!-- 根据id查询图片地址 -->
     <select id="selectPhotoAddressFromId" parameterType="String" resultType="String">
       select customer_head_image_address from customer where customer_id = #{customerId}    
       </select>
       
       <!-- 根据id插入图片地址 -->
       <update id="updatePhotoAddressFromId" parameterType="com.house.entity.Customer">
       update customer set customer_head_image_address= #{customerHeadImageAddress}  
       where customer_id = #{customerId}    
       </update>
       
       
       <select id="selectCustomerIdAndMail" parameterType="com.house.entity.Customer" resultType="com.house.entity.Customer">
        select customer_id,customer_mailbox from customer where customer_Phone = #{customerPhone}
       </select>
 </mapper>