.head {
	margin: 0px
}

.houselogo {
	margin-top: 5px;
	width: 40px;
	height: 40px;
	margin-left: 35px;
}

.place-img {
	width: 20px;
	height: 20px;
}

.place-div {
	padding: 0px;
	margin-top: 15px;
	cursor: pointer;
}

.place a {
	color: black;
}

.place a:hover {
	text-decoration: none;
}

.logo {
	font-size: 40px;
	font-weight: bold;
}

#head-nav li {
	cursor: pointer;
}

#head-nav li a {
	display: block;
}

#head-nav li a:hover {
	color: red;
}

.house-info-window {
	margin-top: 20px;
	padding: 0px;
	border-bottom: 1px solid #f3f3f3;
	padding-bottom: 50px;
}

.house-info-window div {
	padding: 0px;
}

.house-info-title span {
	font-weight: 1000;
	font-size: 20px;
}

.house-info-title img{
	width:15px;
	height:15px;
}
.house-info-img-window {
	margin-top: 20px;
}

.house-info-img-show {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 400px;
	height: 350px;
}

.house-info-list-window {
	margin-top: 10px;
}

.house-info-list-window ul {
	padding: 0px;
}

.house-info-list-window ul li {
	list-style: none;
	height: 70px;
	background-color: #000;
	width: 70px;
	float: left;
	margin-right: 12px;
	text-align: center;
}

.switch img {
	margin-top:20px;
	height: 30px;
	width: 20px;
}
.house-other-info-window{
	margin-top:20px;
	border-top: 1px solid #f3f3f3;
}

.house-other-info div{
		margin-top:16px;
}

.house-other-info .house-money{
	    font-size: 36px;
	        font-weight: bold;
	        color:red;
}
.house-money-company{
	color:red;
	margin-right:20px;
}
.publish-person-img{
	width:80px;
	height:80px;
		background-repeat: no-repeat;
	background-size: 100% 100%;
	
}
.publish-person-phone-window div{
height:70px;
}
.publish-person-phone-logo{
	background-color: #FF552E;
	text-align:center;
	
}
.publish-person-phone-logo img{
	width:50px;
	height:50px;
		background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top:10px;
	
}
.publish-person-phone{
	background-color: rgba(255,85,46,.9);
	text-align:center;
}
	margin-top:20px;
	color:white;
	font-size:25px;
}