.footer-a{
	cursor: pointer;
}

.footer-a:hover{
		text-decoration: none;
}

.replace-code {
	text-align: center;
	font-size: 13px;
	color: blue;
	line-height: 34px;
	cursor: pointer;
	padding:0px
}

.code-image{
	margin-left:5px;
	height:32px;
}