.head{
	margin: 0px;
}
.houselogo {
	margin-top: 5px;
	width: 40px;
	height: 40px;
	margin-left: 35px;
}

.place-img {
	width: 20px;
	height: 20px;
}

.place-div {
	padding: 0px;
	margin-top: 15px;
	cursor: pointer;
}
.place a{
	color:black;
}
.place a:hover{
	text-decoration: none;
}

.select-sex{
	margin-left: 30px;
    margin-right: 15px;
    padding: 0 14px;
    width: 206px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #E7E7E7;
    font-size: 14px;
    background: 100% 100%;

}
.content{
	margin-top: 50px;
	height: 500px;
	padding: 0px;
}
.content-left ul li{
	color:#595753;
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
	cursor: pointer;
}

.content-left ul li:hover{
	color: red;
}

.content-li-head{
	height: 100px;
	 position: relative;
}
 
.head-img{
	width: 100%;
	height: 100%;
}
#fileUploadFrom{
	width: 100%;
	height: 100%;
}

#fileInput{
	 opacity:0;
            filter:alpha(opacity=0);
            height: 95px;
            width: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
}

.content-center{
	height: 400px;
	margin-left: 50px;
}

.person-head-title{
	color: red;
	font-size: 30px;
	padding-bottom:10px ;
	border-bottom: 2px solid #EEEEEE;
}

.person-info{
	    font-size: 18px;
    color: #666;
	margin-top: 30px;
}
.person-info input{
	margin-left: 30px;
	    outline: 0;
    margin-right: 15px;
    padding: 0 14px;
    width: 206px;
    height: 36px;
    line-height: 36px;
    border: 0;
    font-size: 14px;
    background: 0 0;
    color: #333!important;
}
#customerName{
	background-color: white;
}
