<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.dao.EmployeeManageDao">
 <select id="ifExistEmployee" parameterType="com.house.entity.Employee" resultType="com.house.entity.Employee">
 select * from employee where employee_id = #{employeeId}
 </select>
 
 <insert id="insertEmployee" parameterType="com.house.entity.Employee" keyProperty="employeeId" useGeneratedKeys="true">
 insert into employee(employee_name,employee_sex,employee_age,employee_phone,employee_mailbox
 ,employee_role,employee_address,employee_img_address,entry_time) VALUES (#{employeeName},#{employeeSex},#{employeeAge},#{employeePhone},
 #{employeeMailbox},#{employeeRole},#{employeeAddress},#{employeeImgAddress},#{entryTime})
 </insert>
 
 <select id="selectAllEmployee"  resultType="com.house.entity.Employee" parameterType="com.house.entity.Page">
 select * from employee limit #{pageShowNow},#{pageNumber} 
 
 </select>
 
 <select id="selectTotalEmployee" resultType="int" >
 select count(*) from employee
 </select>
 
 <update id="updateEmployeePassword" parameterType="com.house.entity.Employee">
    update employee set  employee_password = #{employeePassword} where employee_id = #{employeeId}
 </update>
 <select id="quaryEmployeeFromEmployeeId"  parameterType="java.lang.String" resultType="com.house.entity.Employee">
  select * from employee where employee_id = #{parameter}
 
 </select>
 
  
 <update id="updateEmployeeImg" parameterType="com.house.entity.Employee">
    update employee set  employee_img_address = #{employeeImgAddress} where employee_id = #{employeeId}
 </update>
 <update id="updateEmployeeInformation" parameterType="com.house.entity.Employee">
   update employee set 
    <if test="employeeName != null">
	    employee_name = #{employeeName}
	  </if>
	  <if test="employeeSex != null">
	    employee_sex = #{employeeSex}
	  </if>
	  <if test="employeeAge != null">
	    employee_age = #{employeeAge}
	  </if>
	  <if test="employeePhone != null">
	    employee_phone = #{employeePhone}
	  </if>
	  <if test="employeeMailbox != null">
	    employee_mailbox = #{employeeMailbox}
	  </if>
	  <if test="employeeRole!= null">
	    employee_role = #{employeeRole}
	  </if>
	  <if test="employeeAddress!= null">
	    employee_address = #{employeeAddress}
	  </if>
	  where employee_id = #{employeeId}
 </update>
</mapper>