<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.dao.HouseManageDao">
  <select id="selectAllToBeAuditingHouse" resultMap="setHouse" parameterType="com.house.entity.Page">
  	select
		h.house_id,house_name,house_address_info,application_time,house_publisher_time,follow_number,
		house_size,house_direction,house_money,house_structure,house_image_address
		from house
		h,house_info hi where
		h.house_id = hi.house_id and house_auditing_state = '0' order by application_time
		limit #{pageShowNow},#{pageNumber} 
  </select>
  
  <select id="selectTotalToBeAuditingHouse"  resultType="int">
  select count(*) from house where house_auditing_state = '0'
  
  </select>
   <select id="selectTotalHasBeenPublishHouse" resultType="int">
  select count(*) from house where house_publisher_state = '1'
  
  </select>
  <resultMap type="com.house.entity.House" id="setHouse">
		<id column="house_id" property="houseId" />
		<result column="house_name" property="houseName" />
		<result column="house_address_info" property="houseAddressInfo" />
		<result column="application_time"
			property="applicationTime" />
			<result column="house_publisher_time" property="housePublisherTime"/>
		<result column="follow_number" property="followNumber" />
		<association property="houseInfo"
			javaType="com.house.entity.HouseInfo">
			<result column="house_size" property="houseSize" />
			<result column="house_direction" property="houseDirection" />
			<result column="house_money" property="houseMoney" />
			<result column="house_structure" property="houseStructure" />
			<result column="house_image_address"
				property="houseImageAddress" />
		</association>
	</resultMap>
   <select id="selectAllHasBeenPublishHouse" resultMap="setHouse" parameterType="com.house.entity.Page">
    	select
		h.house_id,house_name,house_address_info,house_publisher_time,follow_number,
		house_size,house_direction,house_money,house_structure,house_image_address
		from house
		h,house_info hi where
		h.house_id = hi.house_id and house_publisher_state = '1' 
		limit #{pageShowNow},#{pageNumber}
  </select>
  
  <select id="selectHouseFromHouseId" resultType="com.house.entity.House" parameterType="java.lang.String">
  select * from house where house_id = #{parameter}
  </select>
   <select id="selectHouseInfoFromHouseId" resultType="com.house.entity.HouseInfo" parameterType="java.lang.String">
  select * from house_info where house_id = #{parameter}
  </select>
  <update id="updateSucceessHouseAuditingStateFromHouseId" parameterType="java.lang.String">
  update house set  house_auditing_state = '1' where house_id = #{parameter}
  </update>
    <update id="updateFailHouseAuditingStateFromHouseId" parameterType="java.lang.String">
  update house set  house_auditing_state = '-1' where house_id = #{parameter}
  </update>
  <select id="selectTotalNoToBeAuditingHouse" resultType="int">
  select count(*) from house where house_auditing_state = '1' and house_publisher_state = '0' 
  </select>
  
  
  <select id="selectAuditingHouseFromHouseId" resultMap="setHouse" parameterType="java.lang.String">
  	select
		h.house_id,house_name,house_address_info,application_time,house_publisher_time,follow_number,
		house_size,house_direction,house_money,house_structure,house_image_address
		from house
		h,house_info hi where
		h.house_id = hi.house_id and house_auditing_state = '0' and h.house_id = #{parameter}
  </select>
  
   <select id="selectPublicHouseFromHouseId" resultMap="setHouse" parameterType="java.lang.String">
  	select
		h.house_id,house_name,house_address_info,application_time,house_publisher_time,follow_number,
		house_size,house_direction,house_money,house_structure,house_image_address
		from house
		h,house_info hi where
		h.house_id = hi.house_id and  house_publisher_state = '1'  and h.house_id = #{parameter}
  </select>
<update id="updateHousePublisherStateFormPublisherId" parameterType="com.house.entity.House">
  update house set  house_publisher_state = #{housePublisherState} where house_publisher_id = #{housePublisherId}

</update>
<update id="updateHousePublisherStateFormHouseId" parameterType="com.house.entity.House">
  update house set  house_publisher_state = #{housePublisherState},days_off = #{daysOff} where house_id = #{houseId}
</update>

<select id="selectHouseWhereDaysOffIsNotZero"   resultType="com.house.entity.House">
select house_id,days_off,house_publisher_id from house where days_off != 0 and house_publisher_state = '1'
</select>
<update id="updateHouseDaysOffFromList" parameterType="java.util.List">
update house set days_off = (days_off-1) 
<foreach collection="list" item="houseId" open="where house_id in(" close=")" separator=",">  
     #{houseId}  
</foreach> 
</update>

</mapper>